# Local history
auto-save-list
bookmarks
eshell
history
org-persist
projects
recentf
tramp
transient
url
var

# Elisp packages
elpa

# Local variables
.dir-locals.el

# Byte-compiled
*.elc
eln-cache

# Backup files
*~

# Local org ROAM database
\.org-id-locations
org-roam\.db

# Tree-Sitter grammars
tree-sitter

# Elfeed database
elfeed