# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Files dependent on local file structure
.lsp-session*
SessionDesktop.el
auto-save-list
bookmarks

# Local org ROAM database
\.org-id-locations
org-roam\.db

# Ignore downloaded packages for now
elpa

# Local history
eshell
transient
var